@import "./mixins.scss";
.login{
    height: 100vh;
    min-height: 700px;
    min-width: 600px;
    background: url(../assets/img/index_bg.jpg);
    background-size: 100% 100%;
    position: relative;
    //右侧登陆盒子
    .login-container{
        width: 32%;
        min-height: 400px;
        height: 68%;
        background:rgba(6, 86, 100, 0.3);
        position: absolute;
        top: 16%;
        right:5%;
        padding: 5%;
        padding-top: 4%;
        box-sizing: border-box;
        h1{
            font-size:50px;
            color:#fff;
            text-align: center;
            margin-bottom: 15%;
        }
        .ivu-input{
            background: transparent;
            border:0;
            border-bottom:1px solid #fff;
            color: #eee;
            outline: none;
            border-radius: 0;
            height: 60px;
            font-size: 16px !important;
        }
        .ivu-input:focus{
            -webkit-box-shadow:none;
            box-shadow:none;
        }
        //input前的文字更改
        .ivu-input-prefix{
            @include flexbox;
            @include align-items(center);
        }
        .ivu-input-with-prefix{
            padding-left: 55px;
        }
        .ivu-input-prefix{
            width: 45px;;
        }
        //错误提示样式更改
        .ivu-form-item-error .ivu-input{
            border:0;
            border-bottom: 1px solid #fff;
        }
        .ivu-form-item-error .ivu-input:focus{
            border:0;
            border-bottom: 1px solid #fff;
            -webkit-box-shadow:none;
            box-shadow:none;
        }
        //记住密码样式更改
        .ivu-checkbox-wrapper{
            color: #fff;
        }
        //密码是否隐藏样式
        .ivu-input-suffix{
            @include flexbox;
            @include align-items(center);
        }
        .ivu-input-wrapper-large .ivu-input-suffix i{
            color: #fff;
            cursor: pointer;
        }
        //清楚按钮
        .ivu-input-icon-clear{
            top: 11px;
            right: 7px;
        }
        //登录按钮
        button{
            width: 100%;
            min-height: 50px;
            line-height: 50px;
            font-size: 16px;
        }
        //
        .remember_box{
            margin-top: 7%;
            @include flexbox;
            @include justify-content(space-between);
            @include align-items(center);
            span{
                cursor: pointer;
                margin:0;
                font-size: 14px;
            }
        }
        //错误提示
        .ivu-form-item-error-tip{
            margin-top: 0px;
        }
    }
}
@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent;
        font-size: 16px;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    font-size: 16px;
}